@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
	max-width: 100%;
}

body{
	color: #fff !important; 
	font-family: 'Montserrat', sans-serif !important;
}

.banner, .about, .btn-primary{
	background: #1ABC9C;
	border-color: #1ABC9C;
}

.btn-primary:hover{
	background-color: #18ab8e;
	border-color: #18ab8e;
}

#butn{
	
	border-color: #fff;
}

#butn:hover{
	
	background-color: #fff;
	color: #1ABC9C;
}

p{
	font-size: 18px;
}

.disp{
	display: block;
}

h1{
	font-size: 65px;
}

h4{
	font-size: 24px;
}

.nav-item a:hover{
	color: #1ABC9C !important;
}

.bg-dark{
	background:#2C3E50 !important;  
}

.nav-link{
  color: #fff !important; 
  font-size: 18px;
  padding: 0 20px !important;

}


.navbar-brand{
	font-size: 25px;
	letter-spacing: 1px;

}

.ig{
	width: 240px;
}

.line{
	background: #ffffff;
    height: 4px;
    width: 227px;
    display: inline-block;
}

.paste{
	color: #1ABC9C;
}

.paste:hover{
	color: #15826c !important;
}

.port, .contact{
	color: #2C3E50 !important;  
}


.col-2 a:hover{
	background: ;
}

.dark{
	background: #1A252F;
}

h6{
	font-size: 13px;

}

.pad{
	padding: 0 6px;
}

.icon{
	padding: 5px 20px;
}

.fa{
	font-size: 35px ;
}

.fas{
	font-size: 35px ;
}